<!-- Page Complete for styling 2/8 -->


	<div class= "md-col-6">
		<h1>Sign up now</h1>
		<h3>Its free and easy!</h3>
			<%= form_for(@user) do |f| %>
				<%= render 'shared/error_messages' %>
				<%=f.label :name %>
				<%=f.text_field :name%> 
				<%=f.label :email %>
				<%=f.text_field :email%>
				<%=f.label :password %>
				<%=f.password_field :password%> 
		
			<!-- make password_conf work -->
				<%=f.label :password_confirmation %>
				<%=f.password_field :password%>
				<br>
				<%= f.submit "Create Account" %>
	</div>



<%end%>