


	<div class= "sign-in-left-col emphasis-box">
		<div class = "header-align">
			<h1>Sign up now</h1>
			<h3>Its free and easy!</h3>
		</div>
		

		<%= form_for(@user) do |f| %>
		<br>
		<%= render 'shared/error_messages' %>
		<%=f.label :name %>
		<%=f.text_field :name%> 
		<br>
		<%=f.label :email %>
		<%=f.text_field :email%> 
		<br>
		<%=f.label :password %>
		<%=f.password_field :password%> 
		<br>
		<!-- make password_conf work -->
		<%=f.label :password_confirmation %>
		<%=f.password_field :password%>
		<br>
		<%= f.submit "Create Account" %>
	</div>


<%end%>