<!-- This page is mostly complete. -->

<div class= "col-md-6">
		<h1 class = "github-access">Welcome, <%=@user.name%>!</h1>

		<p>Gentle reminder helps track your goals through quantifiable means, primarily GitHub.  Help us help you by giving us your GitHub information.  Thanks!</p>
		<br>
		<%= form_for(@user) do |f| %>
				    <%= render 'shared/error_messages' %>
				    <%=f.label "What is your Github username?" %>
				    <%=f.text_field :github_name%> 
				    <%= f.submit "That's it" %>
</div>
	<%end%>
