<h1><%=@user.name%></h1>

<p>One more info</p>
<div>
<%= form_for(@user) do |f| %>
    <br>
    <%= render 'shared/error_messages' %>
    <%=f.label "What is your Github username?" %>
    <%=f.text_field :github_name%> 
    <br>  
    <%= f.submit "That's it" %>
</div>
<%end%>
