
	<div class = "center-column">
		<h1> Welcome Back! </h1>

<%= form_for(:session, url: sessions_path) do |f| %>
	<div class = "shoveit">
		<%= f.label :email %>
	</div>
		<%= f.text_field :email %>
	<div class = "shoveit">
		<%= f.label :password %>
	</div>
		<%= f.password_field :password %>

	<div class = "shoveit">
		<%= f.submit "Sign in"%>
	</div>
<% end %>
		<p>New user? <%= link_to "Sign up now!", signup_path %></p>
	</div>
