<!DOCTYPE html>
<html>
<head>
  <title>GentleReminder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<div class = "container">
			<div class = "row">
				<div class="col-md-10 col-md-offset-1">
					<h1 class="title">GENTLE REMINDER</h1>
					<h1 class= "subtitle">Commit to doing more.</h1>
						<div class = "row">
							<% if signed_in? %>
						  	<%= link_to "Sign Out", signout_path, method: "delete"%>
							<% else %>
							<div class = "col-md-8 col-md-offset-4">
							
								<button type="button" class="btn btn-default">
									<%= link_to "Sign In By Email", signin_path %>
								</button>
								<button type="button" class="btn btn-default">
									<%= link_to "Sign In With Github ", "/auth/github" %>
									<% end %>
								</button>
							
							</div>
					    </div>
				</div>
			</div>

					<% flash.each do |key, value| %>
						<span><%= value %></span>
					<% end %>

				<%= yield %>

			</div>
		</div>
	</body>
</html>

