<!DOCTYPE html>
<html>
<head>
  <title>GentleReminder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class = "header">
		<h1 class = "title">GENTLE REMINDER</h1>
			<h1>Commit to doing more.</h1>
	</div>

	<div class = "sign-in-right-col emphasis-box">
		<div class = "header-align">
			<h1>One Click Sign-In</h1>
		</div>
		<div class = "login-button">
			<% if signed_in? %>
		  	<%= link_to "Sign Out", signout_path, method: "delete"%>
			<% else %>
			<%= link_to "Email", signin_path %>
		</div>
		<div class = "login-button">
		<%= link_to "Sign in with Github ", "/auth/github" %>
		</div>
		<div class = "login-button">
			<%= link_to "Sign in with Meetup", "/auth/meetup" %>
			<% end %>
		</div>
		<% flash.each do |key, value| %>
			<span><%= value %></span>
		<% end %>
	</div>

<%= yield %>

</body>
</html>


