<!-- <div class = "col-md-6"> -->
<div class="container">
	<div class="goal-track-container">
	<h2>Track A Repo</h2>
	<%= form_for([@user, @goal]) do |f| %>

		<!-- <div class = "heavy"><%= label_tag "Name Your Coding Goal!" %></div> -->
		<table class="table-bordered">
		<tr>
		<h3>Goal Name: <%= text_field_tag :name %></h3>
	
		<h3 class= "turnpike">Time length for Github Commit Goal</h3>
		<div class = "goal_radio_buttons">
			<%= label_tag "Thirty Days" %>
			<%= radio_button_tag(:timeframe, "30") %>
			<%= label_tag "Ninety Days" %>
			<%= radio_button_tag(:timeframe, "90") %>
			<%= label_tag "One Hundred Eighty Days" %>
			<%= radio_button_tag(:timeframe, "180") %>
		</div>
	 </tr>
		<h3 class= "turnpike">Commits to meet Goal!</h3>
		<div class = "goal_radio_buttons">
			<%= label_tag "10 Commits" %>
			<%= radio_button_tag(:commitments, 10) %>
			<%= label_tag "25 commits" %>
			<%= radio_button_tag(:commitments, 25) %>
			<%= label_tag "50 commits" %>
			<%= radio_button_tag(:commitments, 50) %>
			<%= label_tag "100 commits" %>
			<%= radio_button_tag(:commitments, 100) %>
		</div>
		
	

	<!-- 	<h4 class= "turnpike"> label_tag "What Repo will we be tracking?" %></h4> -->
		<h3> Enter Git Repo for Tracking: <%= text_field_tag :repo %></h3>
		
		<%= f.submit ("Lets Git It!") %>
		<br>
	<%end%>
</table>
</div>
</div>