<!-- work on this view together -->
<h1>Create Your Goal</h1>

<%= form_for([@user, @goal_type]) do |f| %>
<br>
<% f.label :name %>
<% f.text_field :name%> 
<%= collection_select(:goal_type, :id, @goal_types, :id, :name) %>

<br>
<%= collection_select(:tool, :id, @tools, :id, :tool_description) %>
<br>
<%= collection_select(:charity, :id, @charities, :id, :name) %>
<br>


<%= f.submit %>


<%end%>